<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.store.services.persistence.dao.AssistantVipRelationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.store.services.persistence.model.AssistantVipRelation">
		<id column="id" property="id" />
		<result column="assistant_id" property="assistantId" />
		<result column="vip_id" property="vipId" />
		<result column="create_time" property="createTime" />
		<result column="store_id" property="storeId" />
		<result column="org_id" property="orgId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, assistant_id AS assistantId, vip_id AS vipId, create_time AS createTime, store_id AS storeId,org_id AS orgId
    </sql>

</mapper>
