<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.store.services.persistence.dao.StoreMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.store.services.persistence.model.Store">
		<id column="id" property="id" />
		<result column="warehouse_id" property="warehouseId" />
		<result column="type" property="type" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="avatar" property="avatar" />
		<result column="director" property="director" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="address" property="address" />
		<result column="pcd" property="pcd" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="district" property="district" />
		<result column="introduce" property="introduce" />
		<result column="telephone" property="telephone" />
		<result column="create_time" property="createTime" />
		<result column="org_id" property="orgId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, warehouse_id AS warehouseId,type as type, province, city, district, code, name, avatar, director, longitude, latitude, address, pcd,introduce, telephone, create_time AS createTime,org_id AS orgId
    </sql>

</mapper>
