<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfeat.am.module.store.services.persistence.dao.StoreAssistantMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.jfeat.am.module.store.services.persistence.model.StoreAssistant">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="username" property="username" />
		<result column="avatar" property="avatar" />
		<result column="position" property="position" />
		<result column="telephone" property="telephone" />
		<result column="wechat" property="wechat" />
		<result column="qq" property="qq" />
		<result column="status" property="status" />
		<result column="is_director" property="isDirector" />
		<result column="director_id" property="directorId" />
		<result column="store_id" property="storeId" />
		<result column="user_id" property="userId" />
		<result column="org_id" property="orgId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name,username, avatar, position, telephone, wechat, qq, status, is_director AS isDirector, director_id AS directorId, store_id AS storeId, user_id AS userId,org_id AS orgId
    </sql>

</mapper>
